* {
  font-family: Arial, sans-serif;
}

/*COMMON*/
.container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.row::after{
  content: '';
  display: block;
  clear: both;
}

.col{
  float:left;
  display: inline-block;
}



/*HEADER*/
header{
  background: black;
  color: white;
  padding: 15px 0;
}
 header h4 {
   font-size: 1.5rem;
 }

 span{
  color: lightblue;
}


header nav.col{
  float:right;
  padding: 5px;
}

header li {
  display: inline-block;
  margin: 0 20px;
}

header a{
  color:white;
  text-decoration: none;
}

/*CONTENT*/
section.content{
width: 100%;
height: 25%;
background: rgba(235,233,249,1);
background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 18%, rgba(216,208,239,1) 69%, rgba(206,199,236,1) 94%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(18%, rgba(235,233,249,1)), color-stop(69%, rgba(216,208,239,1)), color-stop(94%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 18%, rgba(216,208,239,1) 69%, rgba(206,199,236,1) 94%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 18%, rgba(216,208,239,1) 69%, rgba(206,199,236,1) 94%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 18%, rgba(216,208,239,1) 69%, rgba(206,199,236,1) 94%, rgba(193,191,234,1) 100%);
background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(235,233,249,1) 18%, rgba(216,208,239,1) 69%, rgba(206,199,236,1) 94%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}

section.content .col{
  position: relative;

}


p.left{
 margin-top: 150px;
}

div.col {
  right: 20px;
  width: 22%;




}
